.project
.classpath
.settings/
target/
.metadata/
.dbeaver-data-sources.xml
secret_notes
*application-local.properties
tmp/
.application-path.properties
.factorypath/
.factorypath
WEBSCHOP-DOCS.html
docs.md
src/main/resources/static/image/gm_szoporoller.jpg
.idea/
*.jar
graphics/
*.iml

# Selenium ui tests
!ui-tests/src/test
ui-tests/allure-results
ui-tests/build
ui-tests/src/test/kotlin/hu/kirdev/schpincer/ui_tests/config/SeleniumConfig.kt

